@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-1 {
  @apply py-2 font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-blue-700
}

.bg-gradient-2 {
  @apply py-2 font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-neutral-50 to-blue-600
}

.bg-gradient-3 {
  @apply py-2 font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-600 to-pink-400
}

.bg-gradient-4 {
  @apply py-2 font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-100 to-cyan-800
}

section.slide-option {
	margin:0 0 50px 0;
	.no-marg { margin:0 0 0 0; }
}

div.highway-slider {
	display:flex;
	justify-content:center;
	width:100%;

	div.highway-barrier {
		overflow:hidden;
		position:relative;
	}
	ul.highway-lane {
		display:flex;
		height:100%;
		li.highway-car {
			flex:1;
		}
	}
}

@keyframes translatestf {
	0% { transform:translateX(100%);  }
	100% { transform:translateX(-500%);  }
}
#stffull div.highway-barrier {
	ul.highway-lane {
		width:500%;
		li.highway-car {
			animation:translatestf 30s linear infinite;
			h4 { font-size:28px; }
		}
	}
}

@keyframes translateinfinite {
	100% { transform:translateX(calc(-180px * 12));  }
}
#infinite div.highway-barrier {
	background:#333;
	box-shadow:0 3px 10px -3px rgba(0,0,0,0.3);
	&::before,
	&::after {
		content: " ";
		position:absolute;
		z-index:9;
		width:180px;
		height:100%;	
	}
	&::before {
		top:0;left:0;
		background: linear-gradient(to right, rgba(23,23,23,1) 0%, rgba(255,255,255,0) 100%);
	}
	&::after {
		top:0;right:0;
		background: linear-gradient(to left, rgba(23,23,23,1) 0%, rgba(255,255,255,0) 100%);
	}
	ul.highway-lane {
		width:calc(180px * 24);
		li.highway-car {
			width:180px;
			animation:translateinfinite 25s linear infinite;
			span.fab {
				font-size:65px;
			}
		}
	}
}
